## ignore in all folders
*.png
*.Rhistory
*.swp
*.xlsx

## ignore in geotop folder only
geotop*/output*
geotop*/_*
geotop*/SnowDepthCalibration/*_geotop.inpts

## folders to ignore
geotop/SoilPropertyCalibration/*_SoilARF*
geotop/SoilPropertyCalibration/output_*
