## ignore in all folders
*.png
*.Rhistory
*.swp
*.xlsx

## ignore in geotop folder only
geotop/output*
geotop/_*

## folders to ignore
geotop/SnowDepthCalibration/*
geotop/SoilPropertyCalibration/*_SoilARF*
geotop/SoilPropertyCalibration/output_*
